<div class="top">
    <img src="/img/icon.png" alt="Grey">
</div>
<h1 class="title">Talent</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Surnname</th>
        <th>Occupation</th> 
        <th>Date Booked</th>
        <th>Client Name</th>
        <th>Client Email</th>
        {{!-- <th>Action</th> --}}
    </tr>
    {{#each data}}
    <tr>
        <th>{{this.name}}</th>
       <th>{{this.surname}}</th>
       <th>{{this.occupation}}</th>
       <th>{{this.date_booked}}</th>
       <th>{{this.client_name}}</th>
       <th><a href='mailto:{{this.email}}'>{{this.email}}</a></th>
       {{!-- <th class="btns"><a href="/approve/{{this.name}}/{{this.surname}}/{{this.client_name}}/{{this.doc_id}}/single">Approve</a><a href="/decline/{{this.name}}/{{this.surname}}/{{this.client_name}}/{{this.doc_id}}/single">Decline</a></th> --}}

    </tr>
  {{/each}}
</table>




<h1 class="title">Teams Talent</h1>
<table class="three">
    <tr>
        <th>Team Names</th>
        <th>Date Booked</th>
        <th>Client Name</th>
        <th>Client Email</th>
    </tr>
    {{#each team}}
    <tr>
        <th> {{this.team_name}}</th>
       <th>{{this.date_booked}}</th>
       <th>{{this.client_name}}</th>
       <th><a href='mailto:{{this.email}}'>{{this.email}}</a></th>

    </tr>
  {{/each}}
</table>
<link rel="stylesheet" href="/css/table.css">